body {
    margin: 0px;
    font-family: Helvetica;
    background: #E4F1F9;
    position: relative;
}

html, body
{
    height: 100%;
}

.ignaz {
    position: absolute;
    top: 100px;
    height: 70%;
    right: 0px;
    width: 240px;
    background: url(/img/download-ignaz.png) no-repeat;
    background-size: 100% auto;
    z-index: -10;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.banner {
    width: 100%;
    background: #3488c5; /* Old browsers */
    background: -moz-linear-gradient(top, #3488c5 0%, #006bbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3488c5), color-stop(100%,#006bbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3488c5 0%,#006bbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3488c5 0%,#006bbb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3488c5 0%,#006bbb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3488c5 0%,#006bbb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3488c5', endColorstr='#006bbb',GradientType=0 ); /* IE6-9 */
    height: 44px;
    line-height: 44px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 1px 5px #B3B3B3;
    z-index: 10;
    position: relative;
}

.app-info {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 94%, #f5f4f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(94%,#ffffff), color-stop(100%,#f5f4f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 94%,#f5f4f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ffffff 94%,#f5f4f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 94%,#f5f4f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 94%,#f5f4f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f4f5',GradientType=0 ); /* IE6-9 */
    width: 100%;
    border-bottom: 1px solid #AEB9BE;
    box-shadow: 0px 0px 10px #AEB9BE;
}

.app-info .padding {
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
}

.app-info .padding img {
    border: 1px solid #CCC;
    float: left;
    margin-right: 15px;
}

.app-info .padding h1 {
    margin: 0px;
    color: #0171C5;
    font-size: 16px;
}

.app-info .padding .version {
    color: #666562;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.app-info .button {
    position: absolute;
    right: 10px;
    top: 20px;
}

.notes {
    padding: 15px;
    color: #666666;
}

.notes h3 {
    margin-bottom: 10px;
}

.notes b {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

.notes p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 24px;
}

.button {
    background: #11b05b; /* Old browsers */
    background: -moz-linear-gradient(top, #11b05b 0%, #00a04a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11b05b), color-stop(100%,#00a04a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #11b05b 0%,#00a04a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #11b05b 0%,#00a04a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #11b05b 0%,#00a04a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #11b05b 0%,#00a04a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11b05b', endColorstr='#00a04a',GradientType=0 ); /* IE6-9 */
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
    text-transform: capitalize;
}

input.button {
    font-weight: bold;
    text-transform: uppercase;
}

.column { float: left; width: 48%; }
.column.right { float: right; }

input[type=text], input[type=password] {
    padding: 10px 15px;
    width: 65%;
}

.error {
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}